<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>flapDoodle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32901C6B1E444E450066C6BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32901C831E444E460066C6BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32901C8E1E444E460066C6BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
